.containers {
  position: relative;
  width: 23vw;
  height: 30vh;
  transition: 200ms;
}
@media (max-width: 1200px) {
  .containers {
    width: 33vw;
    height: 30vh;
  }
}
@media (max-width: 1000px) {
  .containers {
    width: 32vw;
    height: 30vh;
  }
}
@media (max-width: 768px) {
  .containers {
    width: 45vw;
    height: 30vh;
  }
}
@media (max-width: 450px) {
  .containers {
    width: 48vw;
    height: 30vh;
  }
}
@media (max-width: 400px) {
  .containers {
    width: 48vw;
    height: 30vh;
  }
}
@media (max-width: 360px) {
  .containers {
    width: 48vw;
    height: 30vh;
  }
}
.containers:hover #card::before {
  transition: 200ms;
  content: "";
  opacity: 100%;
}
.containers:hover .icon-card, .containers:hover .desc, .containers:hover .title {
  transition: 200ms;
  color: white !important;
  text-shadow: 0 3px 10px rgba(255, 255, 255, 0.2);
}
.containers:hover .stars-bg {
  transition: 200ms;
}
.containers .canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5" "tr-6 tr-7 tr-8 tr-9 tr-10" "tr-11 tr-12 tr-13 tr-14 tr-15" "tr-16 tr-17 tr-18 tr-19 tr-20" "tr-21 tr-22 tr-23 tr-24 tr-25";
}
.containers .canvas .tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}
.containers .canvas .tracker:hover {
  cursor: pointer;
}
.containers .canvas .tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}
.containers .canvas .tr-1 {
  grid-area: tr-1;
}
.containers .canvas .tr-2 {
  grid-area: tr-2;
}
.containers .canvas .tr-3 {
  grid-area: tr-3;
}
.containers .canvas .tr-4 {
  grid-area: tr-4;
}
.containers .canvas .tr-5 {
  grid-area: tr-5;
}
.containers .canvas .tr-6 {
  grid-area: tr-6;
}
.containers .canvas .tr-7 {
  grid-area: tr-7;
}
.containers .canvas .tr-8 {
  grid-area: tr-8;
}
.containers .canvas .tr-9 {
  grid-area: tr-9;
}
.containers .canvas .tr-10 {
  grid-area: tr-10;
}
.containers .canvas .tr-11 {
  grid-area: tr-11;
}
.containers .canvas .tr-12 {
  grid-area: tr-12;
}
.containers .canvas .tr-13 {
  grid-area: tr-13;
}
.containers .canvas .tr-14 {
  grid-area: tr-14;
}
.containers .canvas .tr-15 {
  grid-area: tr-15;
}
.containers .canvas .tr-16 {
  grid-area: tr-16;
}
.containers .canvas .tr-17 {
  grid-area: tr-17;
}
.containers .canvas .tr-18 {
  grid-area: tr-18;
}
.containers .canvas .tr-19 {
  grid-area: tr-19;
}
.containers .canvas .tr-20 {
  grid-area: tr-20;
}
.containers .canvas .tr-21 {
  grid-area: tr-21;
}
.containers .canvas .tr-22 {
  grid-area: tr-22;
}
.containers .canvas .tr-23 {
  grid-area: tr-23;
}
.containers .canvas .tr-24 {
  grid-area: tr-24;
}
.containers .canvas .tr-25 {
  grid-area: tr-25;
}
.containers .canvas .tr-1:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}
.containers .canvas .tr-2:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}
.containers .canvas .tr-3:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}
.containers .canvas .tr-4:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}
.containers .canvas .tr-5:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}
.containers .canvas .tr-6:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}
.containers .canvas .tr-7:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}
.containers .canvas .tr-8:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}
.containers .canvas .tr-9:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}
.containers .canvas .tr-10:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}
.containers .canvas .tr-11:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}
.containers .canvas .tr-12:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}
.containers .canvas .tr-13:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.containers .canvas .tr-14:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}
.containers .canvas .tr-15:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}
.containers .canvas .tr-16:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}
.containers .canvas .tr-17:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}
.containers .canvas .tr-18:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}
.containers .canvas .tr-19:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}
.containers .canvas .tr-20:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}
.containers .canvas .tr-21:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}
.containers .canvas .tr-22:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}
.containers .canvas .tr-23:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}
.containers .canvas .tr-24:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}
.containers .canvas .tr-25:hover ~ #card {
  transition: 200ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}
.containers #card {
  position: absolute;
  padding: 0.2rem;
  margin: 1rem;
  inset: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  transition: 300ms;
  background: var(--PrimaryColor);
  box-shadow: 0 3px 10px var(--CardShadow);
}
@media (max-width: 450px) {
  .containers #card {
    margin: 0.5rem;
  }
}
.containers #card::before {
  content: "";
  background: var(--StarsBG);
  border-radius: 20px;
  opacity: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}
.containers #card .icon-card {
  color: var(--blackColor);
  font-size: 3.5rem;
}
@media (max-width: 1000px) {
  .containers #card .icon-card {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .containers #card .icon-card {
    font-size: 2.7rem;
  }
}
@media (max-width: 450px) {
  .containers #card .icon-card {
    font-size: 2.5rem;
  }
}
@media (max-width: 400px) {
  .containers #card .icon-card {
    font-size: 2rem;
  }
}
@media (max-width: 360px) {
  .containers #card .icon-card {
    font-size: 1.5rem;
  }
}
.containers #card .title {
  margin-top: -3rem;
  margin-bottom: -1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--blackColor);
}
@media (max-width: 1200px) {
  .containers #card .title {
    font-size: 0.9rem;
  }
}
@media (max-width: 1000px) {
  .containers #card .title {
    font-size: 0.7rem;
  }
}
@media (max-width: 768px) {
  .containers #card .title {
    font-size: 0.7rem;
  }
}
@media (max-width: 450px) {
  .containers #card .title {
    font-size: 0.6rem;
    margin-top: -2rem;
  }
}
@media (max-width: 400px) {
  .containers #card .title {
    font-size: 0.5rem;
  }
}
@media (max-width: 360px) {
  .containers #card .title {
    font-size: 0.45rem;
  }
}
.containers #card .desc {
  margin-bottom: 1rem;
  color: var(--blackColor);
  text-align: center;
  font-weight: 500;
  font-size: 1.05rem;
}
@media (max-width: 1000px) {
  .containers #card .desc {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .containers #card .desc {
    font-size: 0.9rem;
  }
}
@media (max-width: 450px) {
  .containers #card .desc {
    font-size: 0.8rem;
  }
}
@media (max-width: 400px) {
  .containers #card .desc {
    font-size: 0.6rem;
  }
}
@media (max-width: 360px) {
  .containers #card .desc {
    font-size: 0.5rem;
  }
}
.containers #card .stars-bg {
  transition: 200ms;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox lama */ /* Internet Explorer/Edge */
  user-select: none; /* Chrome, Edge, Opera, Firefox */
}/*# sourceMappingURL=card.css.map */