.footer {
  background: #002346;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
  top: 0;
}
@media screen and (max-width: 1000px) {
  .footer {
    padding: 0 5rem;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 0 3rem;
  }
}
.footer .content {
  justify-content: start;
  align-items: start;
  margin: auto;
  gap: 8rem;
  padding: 4rem 0;
}
@media screen and (max-width: 768px) {
  .footer .content {
    gap: 3rem;
    display: flex;
    flex-direction: column;
  }
}
.footer .content .aboutDiv {
  width: 50%;
  align-items: start;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer .content .aboutDiv {
    padding: 0 1rem;
    width: 70%;
    justify-content: space-between;
  }
}
.footer .content .logo {
  color: white;
  font-weight: 600;
  display: flex;
}
.footer .content .logo .icon {
  width: 10rem;
}
@media screen and (max-width: 1000px) {
  .footer .content .logo .icon {
    width: 8rem;
  }
}
@media screen and (max-width: 885px) {
  .footer .content .logo .icon {
    width: 6rem;
  }
}
.footer .content h3 {
  color: white;
  font-size: 1.2rem;
}
@media screen and (max-width: 1400px) {
  .footer .content h3 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1200px) {
  .footer .content h3 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .footer .content h3 {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 500px) {
  .footer .content h3 {
    font-size: 0.9rem;
  }
}
.footer .content a {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: white;
  font-weight: 400;
}
@media screen and (max-width: 1400px) {
  .footer .content a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .footer .content a {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 768px) {
  .footer .content a {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 500px) {
  .footer .content a {
    font-size: 0.7rem;
  }
}
.footer .content a:hover {
  color: var(--BlueColor);
  transition: 200ms;
  transform: translateX(2px);
}
.footer .footerDiv {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 1.35rem;
  margin-top: 3rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 1400px) {
  .footer .footerDiv {
    font-size: 1.35rem;
  }
}
@media screen and (max-width: 1000px) {
  .footer .footerDiv {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .footer .footerDiv {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  .footer .footerDiv {
    font-size: 1.1rem;
  }
}
.footer .footerDiv .medsos {
  justify-content: space-around;
  display: flex;
  color: white;
  gap: 2rem;
}
.footer .footerDiv .medsos .icon {
  display: flex;
  color: white;
  width: 1.2rem;
}
@media screen and (max-width: 1400px) {
  .footer .footerDiv .medsos .icon {
    width: 1.2rem;
  }
}
@media screen and (max-width: 1000px) {
  .footer .footerDiv .medsos .icon {
    width: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  .footer .footerDiv .medsos .icon {
    width: 1rem;
  }
}
.footer .footerDiv .medsos .icon:hover {
  color: var(--BlueColor);
  transform: scale(1.1);
  transition: 200ms;
}/*# sourceMappingURL=footer.css.map */