.footer {
    background: #002346;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    top: 0;
    // margin-top: 0;

    @media screen and (max-width: 1000px) {
        padding: 0 5rem;
    }

    @media screen and (max-width: 768px) {
        padding: 0 3rem;
    }

    .content {
        justify-content: start;
        align-items: start;
        margin: auto;
        gap: 8rem;
        padding: 4rem 0;

        @media screen and (max-width: 768px) {
            gap: 3rem;
            display: flex;
            flex-direction: column;
        }

        .aboutDiv {
            width: 50%;
            align-items: start;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                padding: 0 1rem;
                width: 70%;
                justify-content: space-between;
            }
        }

        .logo {
            color: white;
            font-weight: 600;
            display: flex;
    
            .icon {
                width: 10rem;

                @media screen and (max-width: 1000px) {
                    width: 8rem;
                }

                @media screen and (max-width: 885px) {
                    width: 6rem;
                }
            }
        }
    
        h3 {
            color: white;
            font-size: 1.2rem;
            // margin-bottom: 1rem;

            @media screen and (max-width: 1400px) {
                font-size: 1.3rem;
            }
    
            @media screen and (max-width: 1200px) {
                font-size: 1.2rem;
            }
    
            @media screen and (max-width: 768px) {
                font-size: 1.1rem;
            }
    
            @media screen and (max-width: 500px) {
                font-size: .9rem;
            }
        }
    
        a {
            margin-top: .5rem;
            font-size: 1rem;
            color: white;
            font-weight: 400;

            @media screen and (max-width: 1400px) {
                font-size: 1rem;
            }
    
            @media screen and (max-width: 1000px) {
                font-size: .95rem;
            }
    
            @media screen and (max-width: 768px) {
                font-size: .9rem;
            }
    
            @media screen and (max-width: 500px) {
                font-size: .7rem;
            }

            &:hover {
                color: var(--BlueColor);
                transition: 200ms;
                transform: translateX(2px);
            }
        }
    }

    .footerDiv {
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: white;
        font-weight: 400;
        font-size: 1.35rem;
        margin-top: 3rem;
        padding-bottom: 1rem;

        @media screen and (max-width: 1400px) {
            font-size: 1.35rem;
        }

        @media screen and (max-width: 1000px) {
            font-size: 1.2rem;
        }

        @media screen and (max-width: 768px) {
            font-size: 1.3rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }

        @media screen and (max-width: 500px) {
            font-size: 1.1rem;
        }

        .medsos {
            justify-content: space-around;
            // align-items: center;
            display: flex;
            color: white;
            gap: 2rem;

            .icon {
                display: flex;
                color: white;
                width: 1.2rem;

                @media screen and (max-width: 1400px) {
                    width: 1.2rem;
                }
        
                @media screen and (max-width: 1000px) {
                    width: 1.2rem;
                }
        
                @media screen and (max-width: 500px) {
                    width: 1rem;
                }

                &:hover {
                    color: var(--BlueColor);
                    transform: scale(1.1);
                    transition: 200ms;
                }
            }
        }
    }
}